{%  extends 'Home/s_page2.html' %}
{%  block base %}
<form  method="post" action="">
    {% csrf_token %}
<h3 >CHANGE PASSWORD</h3>
<br>
  <table width="400" border="4" class="table-condensed">
    <tr>
      <td style="font-weight:bold;font-size:17px;">Current Passord</td>
      <td ><label>
        <input type="password" name="pwd" required class="form-control">
      </label></td>
    </tr>
      <tr>
      <td style="font-weight:bold;font-size:17px;">New Password</td>
      <td ><label>
        <input type="password" name="npwd" required pattern="[A-Z a-z 0-9.]{6,10}" class="form-control">
      </label></td>
    </tr>
        <tr>
      <td style="font-weight:bold;font-size:17px;">Confirm Password</td>
      <td><label>
        <input type="password" name="confpwd" required class="form-control">
      </label></td>
    </tr>
     <tr align="center">
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" class="btn btn-block">
          </div>
      </label></td>
    </tr>
  </table>
<script>
    {% if message %}
        alert('{{ message }}');
    {% endif %}

</script>
</form>
{% endblock %}