{%  extends 'Home/s_page.html' %}
{%  block base %}

<form action="" method="post" enctype="multipart/form-data" name="form1">
    {% csrf_token %}
    <h3 >ADD FEEDBACK</h3>
<br>
  <table width="400" border="4" class="table-condensed">
    <tr>
      <td style="font-weight:bold;font-size:17px;">Feedback </td>
      <td><label>
         <textarea name="feed"  required class="form-control"></textarea>
      </label></td>
    </tr>
    
    <tr align="center">
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value=" Submit " class="btn btn-block">
          </div>
      </label></td>
  </table>
</form>
{% endblock %}